body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url(../images/grey/grey.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}

.main-header {
    width: 100%;
    position: absolute;
    top: 0;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 0;   
}

h1 {
    position: relative;
    top: 0;
    left: 160px;
    float: left;
    background-color: #4aaaa5;
    color: #ffffff;
    margin: 0;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    position: relative;
    top: 20px;
    right: 145px;
    margin: 0;
    padding: 0;
    float: right;
}

nav ul {
    margin: 0;
    list-style: none;
}
nav li {
    margin: 0; 
    padding: 0 20px;
    float: left;
}

nav a {
    margin: 0;
    color: #777777;
    text-decoration: none;
}

hr {
    clear: both;
    margin: 0;
}

.main-content {
    width: 960px;
    height: 400px;
    margin: 100px auto;
    background-color: #ffffff;
}


h2 {
    margin: 0;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

img {
    margin: 0;
    width: 200px;
    padding-right: 10px;
    float: left;
}

.main-content p {    
   margin: 0;
}