body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: lightgray;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 20px solid #4aaaa5;
    overflow: auto;
}

header {
    width: 100%;
    background-color: #ffffff;
}

.entire-content {
    width: 960px;
    margin: 0 auto;
    padding: 0;
}

h1 {
    position: relative;
    left: -20px;
    margin: 0;
    padding: 10px;  
    float: left;
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif
}

nav {
    position: relative;
    left: 40px;
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    float: left;
    padding: 8px;
}

nav a {
    margin-right: 10px;
    text-decoration: none;
}

/* clears floats */
header::after {
    content: '';
    display: table;
    clear: both;
}

hr {
    margin: 0;
    padding: 0;
}


.main-content {
    width: 960px;
    margin: 10px auto; 
    padding: 20px;
    background-color: #ffffff;
}

.main-content h2 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif
}


.main-content img {
    width: 100px;
    float: left;
    padding: 10px;
}

.main-content p {
    margin: 0 auto;
    line-height: 2;
}

footer {
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.foot-container {
    margin: 0;
    padding: 0;
    position: relative;
    color: #ffffff;
    background-color: #666666;
}

.foot-container p {
    position: absolute;
    margin: 20px;
    padding: 0;
}